
<%= simple_form_for @group_event do |f| %>
    <div class="form-inputs">
      <% if (current_user.type == "StadiumUser" || "CoachUser" ) &&
          (current_user.id == @product.stadium.user_id || @product.stadium.is_stadium_coach(current_user.id))%>
        <%= f.input :name, :label => t(:caption), class: 'form-control input-sm' %>
        <%= f.input :description, :label => t(:description), class: 'form-control input-sm' %>
        <%= f.input :price, :label => "Цена за разовое занятие", class: 'form-control input-sm' %>
        <%= f.input :max_count_participants, :label => "Максимальное количество человек в группе", class: 'form-control input-sm' %>

    <% end %>

      <h4>Приглашенные гости</h4>
      <%= link_to_add_association 'Добавить гостя',
                                  f, :event_guests, class: 'btn btn-primary', 'data-association-insertion-node' => '.event_guests',
                                  'data-association-insertion-method' => 'append' %>
      <table class="table table-hover site-table">

        <thead class="site-table__head">
          <tr>
            <th>Ф.И.О. гостя</th>
            <th>E-mail</th>
            <th></th>
          </tr>

        </thead>
        <tbody class=" event_guests site-table__body">
          <%= f.simple_fields_for :event_guests do  |eg|
            render "event_guest_fields", f: eg
          end %>
        </tbody>


      </table>


      <%= f.input :start, :label => "Начало", as: :date_time_picker, class: 'form-control input-sm start_hidden' %>
      <%= f.input :stop, :label => "Конец", as: :date_time_picker, class: 'form-control input-sm end_hidden' %>
      <%= f.hidden_field :area_id, class: 'form-control input-sm area_hidden'%>
      <%= f.input :recurrence_id, collection: [["Разово",0] , ["Еженедельно", 1]], include_blank: false %>

      <div class="recurrence", style="display:none">
        <%= f.input :recurrence_rule,
                    :as => :check_boxes, :label => "Дни повторения",
                    :collection => [['ПН', '1'], ['ВТ', '2'], ['СР', '3'], ['ЧТ', '4'], ['ПТ', '5'], ['СБ', '6'], ['ВС', '0']],
                    :include_hidden => false
        %>
        <%= f.input :recurrence_exception,:label => "Дата окончания",  as: :date_time_picker, class: 'form-control input-sm end_hidden' %>
      </div>

      <% if !@coaches.blank? %>
           <%= f.input :coach_id, as: :select, :label => t(:coach),
                       collection: @coaches.map { |c| [c.coach.name, c.coach_id] }, include_blank: true %>
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.submit 'Сохранить' , :class => 'btn btn-info'  %>
    </div>
<% end %>
<script type="text/javascript">
    $(function () {
        $('div.datetimepicker').datetimepicker({
            locale: 'ru',
            stepping: 30,
            sideBySide: true
        });
        $('input#event_recurrence_exception').datetimepicker({
            locale: 'ru',
            format: "D MMMM YYYY"
        });

    });

    $('select#group_event_recurrence_id').on('change',function(){
        if( $(this).val()==1){
            $("div.recurrence").show()
        }
        else{
            $("div.recurrence").hide()
        }
    });
</script>