<%= simple_form_for @group_event do |f| %>
    <div class="form-group">

        <%= f.label @group_event.name %>
      <br>
        <%= f.label @group_event.description %>
      </br>
       <p>
         <%= f.label "Цена за разовое занятие" %>
         <%= @group_event.price_with_cur %>
       </p>

      <%= f.label "Время занятия" %>
      <%= f.label @group_event.start.strftime('%H:%M') + " - " + @group_event.stop.strftime('%H:%M')  %>
      <%= f.hidden_field :area_id, class: 'form-control input-sm area_hidden'%>


      <% if @group_event.coach_id %>
        <br>
          <%= f.label t(:coach) %>
          <%= f.label @group_event.coach.name%>
        </br>
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.submit 'Записаться' , :class => 'btn btn-info'  %>
    </div>
<% end %>
<script type="text/javascript">
    $(function () {
        $('div.datetimepicker').datetimepicker({
            locale: 'ru',
            stepping: 30,
            sideBySide: true
        });
        $('input#event_recurrence_exception').datetimepicker({
            locale: 'ru',
            format: "D MMMM YYYY"
        });

    });

    $('select#event_recurrence_id').on('change',function(){
        if( $(this).val()==1){
            $("div.recurrence").show()
        }
        else{
            $("div.recurrence").hide()
        }
    });

    $('#event_kind_1, #event_kind_0').on('change',function(){
        if( $('#event_kind_0').attr("checked")){
            $('#event_kind_0').attr("checked", false)
            $('#event_kind_1').attr("checked", true)
            $("div.group").show()
        }
        else{
            $('#event_kind_1').attr("checked", false)
            $('#event_kind_0').attr("checked", true)

            $("div.group").hide()
        }
    });
</script>