%tr.nested-fields.site-table__item
  = f.simple_fields_for :service, f.object.service || Service.new do |sf|
    %td.site-table__item-option
      %span.site-table__item-title
        Название:
      = sf.input :name, label: false
  %td.site-table__item-option
    %span.site-table__item-title
      Стоимость:
    = f.input :price, label: false
  %td.site-table__item-option
    %span.site-table__item-title
      Периодичность:
    = f.input :periodic?, as: :boolean, label: 'Да'
  %td.site-table__item-option
    = link_to_remove_association 'Удалить услугу', f, class: 'btn btn-danger'