<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <h3>Настройки</h3>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :phone %>
      <%= f.text_field :phone, :autofocus => true, class: 'form-control form-phone' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="panel panel-danger" style="margin-top: 10px;">
            <div class="panel-heading">
              <p class="panel-title">Почта ждет подтверждения: <%= resource.unconfirmed_email %></p>
            </div>
          </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= image_tag current_user.avatar_url, class: 'form__image' %>
    </div>
    <div class="form-group">
      <%= f.label :avatar, "Аватар (400x400px)" %>
      <%= f.file_field :avatar, class: 'form-control' %>
    </div>
    <fieldset>
      <p>Заполните эти поля если хотите поменять пароль:</p>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset>
      <p>Введите текущий пароль.</p>
      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit 'Обновить', :class => 'btn btn-info' %>
  <% end %>
</div>
