= simple_form_for [:dashboard, @coach] do |f|
  = f.error_notification
  = f.error :base
  = f.input :name
  = f.simple_fields_for :coach, @coach.coach || Coach.new do |coach|
    = coach.input :id, as: :hidden
    %table.table
      %thead
        %tr
          %th Площадка
          %th Стоимость
          %th
      %tbody.coaches_areas
        = link_to_add_association 'Добавить', coach, :coaches_areas, class: 'btn btn-primary', 'data-association-insertion-node' => '.coaches_areas', 'data-association-insertion-method' => 'append'
        = coach.simple_fields_for :coaches_areas do |ca|
          = render "coaches_area_fields", f: ca
  = f.input :email
  = f.input :password
  - if action_name == 'new'
    = f.input :password_confirmation
  = f.button :submit, 'Сохранить'