- if @coaches.any?
  %table.table
    %thead
      %tr
        %th Имя
        %th Почта
        %th Дата создания
        %th Площадки
    %tbody
      - @coaches.each do |coach|
        %tr
          %td= coach.name
          %td= coach.email
          %td= coach.created_at
          %td
            %ul
              - coach.coaches_areas.where(area: current_user.stadium.area_ids).each do |ca|
                %li= ca.area_and_price
                = " (комиссия стадиона #{ca.stadium_percent}%)"
- else
  Пока нет тренеров