- if @coaches.any?
  %table.table.table-hover.site-table
    %thead.site-table__head
      %tr
        %th Имя
        %th Почта
        %th Дата создания
        %th Площадки
    %tbody.site-table__body
      - @coaches.sort_by(&:id).each do |coach|
        %tr.site-table__item
          %td.site-table__item-option
            %span.site-table__item-title
              Имя:
            = coach.name
          %td.site-table__item-option
            %span.site-table__item-title
              Почта:
            = coach.email
          %td.site-table__item-option
            %span.site-table__item-title
              Дата создания:
            = coach.created_at
          %td.site-table__item-option
            %span.site-table__item-title
              Площадки:
            %table.table.site-table
              %thead.site-table__head
                %tr
                  %th Название
                  %th Цена
                  %th % стадиона
                  %th
              %tbody.site-table__body
                - coach.coaches_areas.where(area: current_user.stadium.area_ids).sort_by(&:area_id).each do |ca|
                  %tr.site-table__item
                    %td.site-table__item-option
                      %span.site-table__item-title
                        Название:
                      = ca.area.name
                    %td.site-table__item-option
                      %span.site-table__item-title
                        Цена:
                      = ca.price_formatted
                    %td.site-table__item-option
                      %span.site-table__item-title % стадиона:
                      = ca.stadium_percent.to_s
                    - if ca.pending?
                      %td.site-table__item-option
                        = link_to 'Подтвердить', confirm_dashboard_coach_user_path(ca.id)
                    - elsif ca.active?
                      %td.site-table__item-option
                        = link_to 'Заблокировать', confirm_dashboard_coach_user_path(ca.id)
                    - else
                      %td.site-table__item-option
                        = link_to 'Разблокировать', confirm_dashboard_coach_user_path(ca.id)

- else
  Пока нет тренеров