%h2 Пополнение кошелька
= simple_form_for [DepositRequest.new], wrapper: 'horizontal_form' do |f|
  .row
    .col-sm-4.col-xs-12
      = f.input :amount, label: 'Сумма', hint: "Макс. сумма: #{number_to_currency(Rails.application.secrets.amount_limit, locale: :ru)}", as: :integer, input_html: { max: Rails.application.secrets.amount_limit, value: 5000 }
    .col-sm-4.col-xs-12
      = f.input :payment_method, as: :hidden, label: 'Метод оплаты', collection: DepositRequest.payment_methods.map {|k,v| [I18n.t("enums.deposit_request.payment_method.#{k}"), k] }, selected: 0
    .col-sm-4.col-xs-12
      = f.button :submit, 'Пополнить', class: 'btn btn-success'

%h3 История
- if @requests.any?

  %table.table.table-hover.site-table
    %thead.site-table__head
      %tr
        %th Дата
        %th Количество
        %th Результат
        %th Метод оплаты
        %th
    %tbody.site-table__body
      - @requests.each do |request|
        %tr.site-table__item
          %td.site-table__item-option
            %span.site-table__item-title
              Дата:
            = l request.created_at, format: :short
          %td.site-table__item-option
            %span.site-table__item-title
              Количество:
            = number_to_currency request.amount, precision: 0
          %td.site-table__item-option
            %span.site-table__item-title
              Результат:
            = t request.status || 'none'
          %td.site-table__item-option
            %span.site-table__item-title
              Метод оплаты:
            = t "enums.deposit_request.payment_method.#{request.payment_method}"
          - if request.pending?
            %td.site-table__item-option
              = link_to "Оплатить", pay_deposit_request_path(request)
          - else
            %td.site-table__item-option_hide

- else
  Пока ни одного.