%tr.nested-fields
  %td= f.input :start, as: :time, default: Time.parse('09:00'), label: false
  %td= f.input :stop, as: :time, default: Time.parse('18:00'), label: false
  %td= f.input :working_days, collection: I18n.t(:"date.abbr_day_names").each_with_index.to_a, as: :check_boxes, item_wrapper_class: 'commented-out-checkbox-inline', label: false
  %td= f.input :value, label: false
  %td= link_to_remove_association 'Удалить правило', f