%h1
  Настройка цен
= link_to 'Создать период', new_dashboard_price_path, class: 'btn btn-primary'
%table.table
  %thead
    %tr
      %th Стадион/площадка
      %th Начало
      %th Конец
      %th
      %th
  %tbody
    - @prices.each do |dashboard_price|
      %tr
        %td= dashboard_price.product.name
        %td= dashboard_price.start
        %td= dashboard_price.stop
        -# %td= t(dashboard_price.is_sale.to_s)
        %td= link_to 'Редактировать', edit_dashboard_price_path( dashboard_price)
        %td= link_to 'Удалить', dashboard_price_path(dashboard_price), method: :delete, data: { confirm: 'Вы уверены?' }
    - if @prices.empty?
      %tr
        %td.text-center{colspan: 7} Пока не создано