- content_for :scripts do
  = javascript_include_tag 'one_day_schedule_view'

.body-bg
  %div.one_day__base
    %h2.col-xs-12 Расписание
    = form_tag one_day_events_path, method: :get, wrapper: 'horizontal_form', enforce_utf8: false do |f|
      .col-xs-12
        .row
          .col-sm-6.col-xs-12
            = label_tag 'stadium', "Стадион"
            = select_tag :stadium, options_from_collection_for_select(Stadium.active, "slug", "name", @stadium.slug)
            -#= f.input :stadiums, label: 'Стадион', as: :check_boxes, collection: Stadium.active.map {|s|[s.name, s.id]}, checked: @stadiums.map(&:id)
          .col-xs-12
            = submit_tag 'Выбрать', class: 'btn btn-success', name: nil
      .col-lg-12.col-md-6.col-xs-12
        %h4 Площадки
        %ul.nav.nav-pills.nav-stacked
          = active_link_to 'Все площадки', one_day_events_path(stadium: @stadium.slug), active: /areas$/, wrap_tag: :li
          - @stadium.areas.each do |cc|
            = active_link_to [cc.name].compact.join(', '), one_day_events_path(stadium: @stadium.slug, id: cc.slug), active: /id=#{cc.slug}/, wrap_tag: :li
      .col-xs-12
        %hr
      .col-xs-12
        -# @stadiums.each do |stadium|
        -# %h3= stadium.name
        -# %table.table.table-hover.site-table
        -#   %tbody.site-table__head
        -#     - stadium.areas.each do |area|
        -#       %tr.site-table__item
        -#         %td.site-table__item-option
        -#           = area.name
        -#         - if Event.paid_or_confirmed.where(area: area).where(start: @day.beginning_of_day..@day.end_of_day).present?
        -#           - Event.paid_or_confirmed.where(area: area).where(start: @day.beginning_of_day..@day.end_of_day).sort_by(&:start)-#each do |e|
        -#             %td.site-table__item-option
        -#               = "#{e.start.strftime("%H:%M")} -#{e.stop.strftime("%H:%M")} #{e.user.name}"
        -#         - else
        -#           %td.site-table__item-option
        -#             Нет заказов
        = render "schedule_legend"
        #scheduler


        -#%div.col-lg-4.col-xs-12
        -#  %h4 Площадки
        -#  %ul.nav.nav-pills.nav-stacked
        -#    -# сюда нужно вывести площадки по принципу страницы расписания стадиона
        -#    -#- if @product.kind_of? Stadium
        -#    -#  = active_link_to 'Все площадки', stadium_areas_path, active: /areas$/, wrap_tag: :li
        -#    -#- @product.areas.each do |cc|
        -#    -#  = active_link_to [cc.name].compact.join(', '), url_for([@product, cc]), active: /areas\/#{cc.to_param}/, wrap_tag: :li
        -#%div.col-lg-8.col-xs-12
        -#  = render "schedule_legend"
        -#  -# сюда должна вывестись таблица конкретного стадиона(который выбран выше) с выбранной неделей(день из которой выбран выше)
        -#  %div#scheduler
