.body-bg
  %div.one_day__base
    %h2.col-xs-12 Расписание
    = simple_form_for "schedule_form", url: one_day_events_path, wrapper: 'horizontal_form' do |f|
      .col-lg-4.col-xs-12
        .row
          .col-lg-12.col-sm-5.col-xs-12
            = f.input :day, label: 'День', as: :datetime, default: @day, discard_hour: true
          .col-lg-12.col-sm-5.col-xs-12
            = f.input :stadium, label: 'Стадион', as: :check_boxes, collection: Stadium.active.map {|s|[s.name, s.id]}, checked: @stadiums.map(&:to_i)
          .col-lg-12.col-sm-2.col-xs-12
            = f.button :submit, 'Выбрать'
      .col-lg-8.col-xs-12
        - Stadium.find(@stadiums - [""]).each do |stadium|
          %h3= stadium.name
          %table.table.table-hover.site-table
            %tbody.site-table__head
              - stadium.areas.each do |area|
                %tr.site-table__item
                  %td.site-table__item-option
                    = area.name
                  - if Event.paid_or_confirmed.where(area: area).where(start: @day.beginning_of_day..@day.end_of_day).present?
                    - Event.paid_or_confirmed.where(area: area).where(start: @day.beginning_of_day..@day.end_of_day).sort_by(&:start).each do |e|
                      %td.site-table__item-option
                        = "#{e.start.strftime("%H:%M")} -#{e.stop.strftime("%H:%M")} #{e.user.name}"
                  - else
                    %td.site-table__item-option
                      Нет заказов