.body-bg
  %div.one_day__base
    %h2.col-xs-12 Расписание
    = simple_form_for "schedule_form", url: one_day_events_path, method: :get, wrapper: 'horizontal_form' do |f|
      .col-xs-12
        .row
          -#.col-sm-6.col-xs-12
          -#  = f.input :day, label: 'День', as: :datetime, default: @day, discard_hour: true
          .col-sm-6.col-xs-12
            = f.input :stadium, label: 'Стадион', as: :select, collection: Stadium.active.map {|s|[s.name, s.id]}, selected: @stadium.id
          .col-xs-12
            = f.button :submit, 'Выбрать', class: 'btn btn-success'
      .col-xs-12
        %hr
      .col-xs-12
        -#- Stadium.find(@stadiums - [""]).each do |stadium|
        -#  %h3= stadium.name
        -#  %table.table.table-hover.site-table
        -#    %tbody.site-table__head
        -#      - stadium.areas.each do |area|
        -#        %tr.site-table__item
        -#          %td.site-table__item-option
        -#            = area.name
        -#          - if Event.paid_or_confirmed.where(area: area).where(start: @day.beginning_of_day..@day.end_of_day).present?
        -#            - Event.paid_or_confirmed.where(area: area).where(start: @day.beginning_of_day..@day.end_of_day).sort_by(&:start).each do |e|
        -#              %td.site-table__item-option
        -#                = "#{e.start.strftime("%H:%M")} -#{e.stop.strftime("%H:%M")} #{e.user.name}"
        -#          - else
        -#            %td.site-table__item-option
        -#              Нет заказов


        %div.col-lg-4.col-xs-12
          %h4 Площадки
          %ul.nav.nav-pills.nav-stacked
            -# сюда нужно вывести площадки по принципу страницы расписания стадиона
            -#- if @product.kind_of? Stadium
            -#  = active_link_to 'Все площадки', stadium_areas_path, active: /areas$/, wrap_tag: :li
            -#- @product.areas.each do |cc|
            -#  = active_link_to [cc.name].compact.join(', '), url_for([@product, cc]), active: /areas\/#{cc.to_param}/, wrap_tag: :li
        %div.col-lg-8.col-xs-12
          = render "schedule_legend"
          -# сюда должна вывестись таблица конкретного стадиона(который выбран выше) с выбранной неделей(день из которой выбран выше)
          %div#scheduler
