<h3><%= order.guid %></h3>
<% if order.events.any? %>
	<table class="table table-hover site-table">
		<thead class="site-table__head">
			<tr>
				<th>Стадион</th>
				<th>Начало</th>
				<th>Конец</th>
				<th>Длительность</th>
				<th>Дополнительно</th>
				<th>Повторяется?</th>
				<th>Цена</th>
			</tr>
		</thead>
		<tbody class="site-table__body">
			<% order.events.each do |item| %>
				<tr class="site-table__item">
					<td class="site-table__item-option">
            <span class="site-table__item-title">Стадион:</span>
						<%= item.products.map(&:name).join(',') %>
					</td>
          <td class="site-table__item-option">
            <span class="site-table__item-title">Начало:</span>
            <%= l item.start, format: :short %>
          </td>
          <td class="site-table__item-option">
            <span class="site-table__item-title">Конец:</span>
            <%= l item.end, format: :short %>
          </td>
          <td class="site-table__item-option">
            <span class="site-table__item-title">Длительность:</span>
            <%= t('hours', count: number_with_precision(item.duration_in_hours, precision: 2)) %>
          </td>
          <td class="site-table__item-option">
            <span class="site-table__item-title">Дополнительно:</span>
						<%# if item.related.present? %>
						<%= render item.additional_event_items %>
					</td>
          <td class="site-table__item-option">
            <span class="site-table__item-title">Повторяется:</span>
            <%= t('repeats', count: item.occurrences) + ' ' + (item.schedule.to_s if item.recurring?).to_s %>
          </td>
          <td class="site-table__item-option">
            <span class="site-table__item-title">Цена:</span>
            <%= number_to_integer_currency item.total %>
          </td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
<% if order.event_changes.any? %>
	<h4>Переносы</h4>
	<table class="table table-hover site-table">
    <thead class="site-table__head">
			<tr>
				<th>Стадион</th>
				<th>Начало</th>
				<th>Конец</th>
				<th>Стоимость</th>
			</tr>
		</thead>
    <tbody class="site-table__body">
			<%= render order.event_changes %>
		</tbody>
	</table>
<% end %>
<% if order.unpaid? %>
	<%= link_to fa_icon('credit-card') + " Оплатить #{number_to_integer_currency order.total}", pay_dashboard_order_path(order), method: :patch, class: 'btn btn-primary' %>
	<%= link_to fa_icon('times') + ' Удалить заказ', [:dashboard, order], method: :delete, data_confirm: 'Вы уверены?', class: 'btn btn-danger' %>
<% end %>