<% breadcrumb :cart, 'Корзина' %>

<div class="body-bg">
  <div class="row">
    <div class="entry">
      <h1>Корзина</h1>
      <hr>
      <div class="row">
      	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 woocommerce">
	      	<table class="table cart table-hover site-table">
            <thead class="site-table__head">
	      			<tr>
	      				<th></th>
	      				<th>Стадион</th>
	      				<th>Начало</th>
	      				<th>Конец</th>
	      				<th>Длительность</th>
	      				<th>Цена</th>
	      			</tr>
	      		</thead>
            <tbody class="site-table__body">
	      		<% @order.events.each do |item| %>
	      			<tr class="cart-item site-table__item">
                <td class="site-table__item-option_hide"></td>
                <td class="site-table__item-option">
                  <span class="site-table__item-title">Стадион:</span>
                  <%= link_to item.area.stadium.name, item.area.stadium %>
                </td>
                <td class="site-table__item-option">
                  <span class="site-table__item-title">Начало:</span>
                  <%= item.start %>
                </td>
                <td class="site-table__item-option">
                  <span class="site-table__item-title">Конец:</span>
                  <%= item.end %>
                </td>
                <td class="site-table__item-option">
                  <span class="site-table__item-title">Длительность:</span>
                  <%= t('hours', count: number_with_precision(item.duration_in_hours, precision: 2)) %>
                </td>
                <td class="site-table__item-option">
                  <span class="site-table__item-title">Цена:</span>
                  <%= item.total %>
                </td>
	      			</tr>
	      		<% end %>
	      		</tbody>
	      	</table>
	      	<%= simple_form_for Order.new do |f| %>
	      		<% @order.events.each do |event| %>
		      		<%= hidden_field_tag :start, event.start %>
		      		<%= hidden_field_tag :end, event.end %>
		      		<%= hidden_field_tag :area_id, event.area_id %>
	      		<% end %>
	      		<%= f.button :submit, 'Оплатить из кошелька' %>
	      	<% end %>
      	</div>
      </div>
    </div>
  </div>
</div>
