<div class="ticket" id="ticket_<%= stadium.id %>">
  <div class="ticket_body">
    <div class="ticket_header">
      <%= image_tag 'logo_bg.png', width: 212, height: 71, alt: 'Booking Sports - бронирйте спорт надёжно', class: 'ticket_header_logo' %>
      <p class="ticket_header_text">Распечатайте и предъявите данный абонемент для допуска к корту.</p>
    </div>
    <div class="ticket_table_box">
      <div class="ticket_table_box_line">
        <span>стадион</span>
        <span><%= stadium.name %></span>
      </div>
      <div class="ticket_table_box_line">
        <span>имя</span>
        <span><%= current_user.name %></span>
      </div>
    </div>
    <div class="ticket_table">
      <table class="table">
        <tr>
          <th>Номер заказа</th>
          <th>Площадка</th>
          <th>Дата</th>
          <th>Время</th>
          <th>Цена занятия</th>
        </tr>
        <% events.sort_by(&:start).each do |event| %>
            <tr>
              <td><%= event.id %></td>
              <td><%= event.area.name %></td>
              <td><%= l(event.schedule.first.to_date, format: '%d.%m.%Y, %a') %></td>
              <td><%= event.start.strftime("%H:%M") %>&nbsp;&mdash; <%= event.stop.strftime("%H:%M") %></td>
              <td>
                <div class="ticket_table_line">
                  Общая&nbsp;&mdash;<strong><%= number_to_currency(event.price) %></strong>
                </div>
                <div class="ticket_table_line">
                  Площадка&nbsp;&mdash; <%= number_to_currency(event.area_price) %>
                </div>
                <% if event.coach_price.to_i > 0 %>
                    <div class="ticket_table_line">
                      Тренер&nbsp;&mdash; <%= number_to_currency(event.coach_price) %>
                    </div>
                <% end %>
                <% if event.services_price.to_i > 0 %>
                    <div class="ticket_table_line">
                      Доп. услуги&nbsp;&mdash; <%= number_to_currency(event.services_price) %>
                    </div>
                <% end %>
              </td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>