<div class="ticket" id="ticket_<%= event.id %>">
  <div class="ticket_body">
    <div class="ticket_header">
      <%= image_tag 'logo_bg.png', width: 212, height: 71, alt: 'Booking Sports - бронирйте спорт надёжно', class: 'ticket_header_logo' %>
      <p class="ticket_header_text">Распечатайте и предъявите данный чек для допуска к корту.</p>
    </div>
    <div class="ticket_table">
      <div class="ticket_table_box">
        <div class="ticket_table_box_line ticket_table_box_line--cover">
          <span>стадион</span>
          <span><%= event.area.stadium.name %></span>
        </div>
        <div class="ticket_table_box_line ticket_table_box_line--cover">
          <span>имя</span>
          <span><%= event.user.name %></span>
        </div>
        <div class="ticket_table_box_line">
          <span>площадка</span>
          <span><%= event.area.name %>&nbsp;&mdash; <%= event.area.stadium.category.present? ? event.area.stadium.category.name : "-" %></span>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="ticket_table_box_line">
              <span>дата заказа</span>
              <span><%= l(event.schedule.first.to_date) %></span>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="ticket_table_box_line">
              <span>время заказа</span>
              <span><%= event.start.strftime("%H:%M") %> &mdash; <%= event.stop.strftime("%H:%M") %></span>
            </div>
          </div>
        </div>
      </div>
      <div class="ticket_qr">
        <%= image_tag RQRCode::QRCode.new(event.qrcode_content, :size => 12, :level => :h).as_png(border_modules: 0, size: 200).to_data_url %>
      </div>
    </div>
  </div>
</div>