%h3=# "Заказ #{@order.guid}"
%table.table.table-hover.site-table
  %thead.site-table__head
    %tr
      %th Площадка
      %th Начало
      %th Конец
      %th Цена
  %tbody.site-table__body
    = render @events
- if @event_changes.present?
  %h4 Переносы
  %h5 Перенос заказа осуществляется 1 раз. После оплаты вы уже не сможете его поменять.
  %table.table.table-hover.site-table
    %tbody.site-table__body
      - @event_changes.each do |change|
        %tr.site-table__item
          %td.site-table__item-option
            %span.site-table__item-title
              Площадка:
            = change.event.area.name
          %td.site-table__item-option
            %span.site-table__item-title
              Начало:
            = l change.event.start, format: :short
          %td.site-table__item-option
            %span.site-table__item-title
              Конец:
            = l change.event.stop, format: :short
          %td.site-table__item-option
            %span.site-table__item-title
              Цена:
            = number_to_integer_currency change.total
- if @recoupments.present?
  %h4 Отыгрыши
  %table.table.table-hover.site-table
    %thead.site-table__head
      %tr
        %th Стадион и площадка
        %th Цена
    %tbody.site-table__body
      - @recoupments.each do |rec|
        %tr.site-table__item
          %td.site-table__item-option
            %span.site-table__item-title
              Стадион и площадка:
            = rec.area.name_with_stadium
          %td.site-table__item-option
            %span.site-table__item-title
              Цена:
            = rec.price

- if @discounts.present?
  %h4 Скидки
  %table.table.table-hover.site-table
    %thead.site-table__head
      %tr
        %th Стадион и площадка
        %th Скидка, %
    %tbody.site-table__body
      - @discounts.each do |disc|
        %tr.site-table__item
          %td.site-table__item-option
            %span.site-table__item-title
              Стадион и площадка:
            = disc.area.name_with_stadium
          %td.site-table__item-option
            %span.site-table__item-title
              Скидка, %
            = disc.value

- if current_user.wallet.can_spend? @total
  = form_tag pay_my_events_path, method: :post do |f|
    - @events.each do |e|
      = hidden_field_tag "event_ids[]", e.id
    - @event_changes.each do |e|
      = hidden_field_tag "event_change_ids[]", e.id
    - if @total <= 0
      = submit_tag "Подтвердить заказ", class: 'btn btn-success'
    - else
      = submit_tag "Заплатить #{number_to_integer_currency @total} из кошелька", class: 'btn btn-success'
- else
  %div.btn.btn-primary.disabled Недостаточно средств
- if Rails.application.secrets.switch_form
  %form{:action => "https://secure.payu.ru/order/lu.php", :method => "POST", :name => "live_update", :target => "paymentFrame"}
    %input#MERCHANT{:name => "MERCHANT", :type => "hidden", :value => @signature[:merchant]}/
    %input#ORDER_REF{:name => "ORDER_REF", :type => "hidden", :value => @signature[:order_ref] }/
    %input#ORDER_DATE{:name => "ORDER_DATE", :type => "hidden", :value => @signature[:order_date]}/
    - @signature[:order_pname].each.with_index do |val,ind|
      %input#ORDER_PNAME0{:name => "ORDER_PNAME[]", :type => "hidden", :value => @signature[:order_pname][ind]}/
      %input#ORDER_PCODE0{:name => "ORDER_PCODE[]", :type => "hidden", :value => @signature[:order_pcode][ind]}/
      %input#ORDER_MPLACE_MERCHANT0{:name => "ORDER_MPLACE_MERCHANT[]", :type => "hidden", :value => @signature[:order_mplace_merchant][ind]}/
      %input#ORDER_PRICE0{:name => "ORDER_PRICE[]", :type => "hidden", :value => @signature[:order_price][ind]}/
      %input#ORDER_QTY0{:name => "ORDER_QTY[]", :type => "hidden", :value => @signature[:order_qty][ind]}/
      %input#ORDER_VAT0{:name => "ORDER_VAT[]", :type => "hidden", :value => @signature[:order_vat][ind]}/
      -#%input#BILL_COUNTRYCODE{:name => "BILL_COUNTRYCODE", :type => "hidden", :value => "ru"}/
      -#%input#PAY_METHOD{:name => "PAY_METHOD", :type => "hidden", :value => "CCVISAMC"}/
    %input#BILL_FNAME{:name => "BILL_FNAME", :type => "hidden", :value => @signature[:bill_fname]}/
    %input#BILL_LNAME{:name => "BILL_LNAME", :type => "hidden", :value => "test"}/
    %input{:name => "BACK_REF", :type => "hidden", :value => @signature[:back_ref]}/
    %input#BILL_EMAIL{:name => "BILL_EMAIL", :type => "hidden", :value => @signature[:bill_email]}/
    %input#BILL_PHONE{:name => "BILL_PHONE", :type => "hidden", :value => @signature[:bill_phone]}/
    %input#TESTORDER{:name => "TESTORDER", :type => "hidden", :value => @signature[:testorder]}/
    %input#LANGUAGE{:name => "LANGUAGE", :type => "hidden", :value => @signature[:language]}/
    %input#ORDER_HASH{:name => "ORDER_HASH", :type => "hidden", :value => @signature[:order_hash]}/
    %input{:name => "submit", :type => "submit", :value => "Оплатить"}/