-# на данной странице нужно доделать кнопки на мобильной верстке так,
  что бы они работали только для одного конкретного элемента списка (того, в котором они находятся визуально) !!!!

- if @events.unpaid.future.unconfirmed.present?

  = form_for :events, url: bulk_process_my_events_path do |f|
    %h4 Неоплаченные занятия
    %table.table.table-hover.site-table#unconfirmed-events
      %thead.site-table__head
        %tr
          %th
          %th Стадион
          %th Площадка
          %th Период занятий
          %th Время тренировок
          %th Стоимость
      %tbody.site-table__body
        - @events.unpaid.future.unconfirmed.each do |event|
          %tr.site-table__item
            %td.site-table__item-option
              = check_box_tag "event_ids[]", event.id
            %td.site-table__item-option
              %span.site-table__item-title
                Стадион:
              = link_to event.area.stadium.name, event.area.stadium
            %td.site-table__item-option
              %span.site-table__item-title
                Площадка:
              = event.area.name
            %td.site-table__item-option
              %span.site-table__item-title
                Период занятий:
              = l(event.schedule.first.to_date) + ' - ' + l(event.schedule.last.to_date)
            %td.site-table__item-option
              %span.site-table__item-title
                Время тренировок:
              = event.start.strftime("%H:%M") + ' - ' + event.stop.strftime("%H:%M")
            %td.site-table__item-option
              %span.site-table__item-title
                Стоимость:
              = number_to_integer_currency event.price
    = f.button 'Забронировать', value: :confirm, data: {confirm: "Подтвердите бронирование"}, class: 'btn btn-primary'
    = f.button 'Перейти к оплате', value: :pay, class: 'btn btn-success'
    = f.button 'Удалить', value: :destroy, data: {confirm: "Вы действительно хотите удалить заказы?"}, class: 'btn btn-danger'

- if @events.unpaid.future.confirmed.present?
  %hr
  = form_for :events, url: bulk_process_my_events_path do |f|
    %h4 Забронированные занятия
    %table.table.table-hover.site-table#confirmed-events
      %thead.site-table__head
        %tr
          %th
          %th Стадион
          %th Площадка
          %th Период занятий
          %th Время тренировок
          %th Стоимость
      %tbody.site-table__body
        - @events.unpaid.future.confirmed.each do |event|
          %tr.site-table__item
            %td.site-table__item-option
              = check_box_tag "event_ids[]", event.id
            %td.site-table__item-option
              %span.site-table__item-title
                Стадион:
              = link_to event.area.stadium.name, event.area.stadium
            %td.site-table__item-option
              %span.site-table__item-title
                Площадка:
              = event.area.name
            %td.site-table__item-option
              %span.site-table__item-title
                Период занятий:
              = l(event.schedule.first.to_date) + ' - ' + l(event.schedule.last.to_date)
            %td.site-table__item-option
              %span.site-table__item-title
                Время тренировок:
              = event.start.strftime("%H:%M") + ' - ' + event.stop.strftime("%H:%M")
            %td.site-table__item-option
              %span.site-table__item-title
                Стоимость:
              = number_to_integer_currency event.price
    = f.button 'Перейти к оплате', value: :pay, class: 'btn btn-success'
    = f.button 'Удалить', value: :destroy, data: {confirm: "Вы действительно хотите удалить заказы?"}, class: 'btn btn-danger'

- if @event_changes.unpaid.future.present?
  %hr
  = form_for :events, url: bulk_process_my_events_path do |f|
    %h4 Переносы
    %table.table.table-hover.site-table#event-changes
      %thead.site-table__head
        %tr
          %th
          %th Стадион
          %th Площадка
          %th Начало
          %th Конец
          %th Стоимость
      %tbody.site-table__body
        - @event_changes.unpaid.future.each do |event_change|
          %tr.site-table__item
            %td.site-table__item-option
              = check_box_tag "event_change_ids[]", event_change.id
            %td.site-table__item-option
              %span.site-table__item-title
                Стадион:
              = link_to event_change.event.area.stadium.name, event_change.event.area.stadium
            %td.site-table__item-option
              %span.site-table__item-title
                Площадка:
              = event_change.event.area.name
            %td.site-table__item-option
              %span.site-table__item-title
                Начало:
              = event_change.old_start.strftime("%d.%m.%Y %H:%M") + ' -> ' + event_change.new_start.strftime("%d.%m.%Y %H:%M")
            %td.site-table__item-option
              %span.site-table__item-title
                Конец:
              = event_change.old_stop.strftime("%d.%m.%Y %H:%M") + ' -> ' + event_change.new_stop.strftime("%d.%m.%Y %H:%M")
            %td.site-table__item-option
              %span.site-table__item-title
                Стоимость:
              = number_to_integer_currency event_change.total
    = f.button 'Перейти к оплате', value: :pay, class: 'btn btn-success'
    = f.button 'Удалить', value: :destroy, data: {confirm: "Вы действительно хотите удалить заказы?"}, class: 'btn btn-danger'



- if @recoupments.present?
  %hr
  %h4 Отыгрыши
  %table.table.table-hover.site-table#recoupments
    %thead.site-table__head
      %tr
        %th Стадион
        %th Площадка
        %th Цена
    %tbody.site-table__body
      - @recoupments.each do |recoupment|
        %tr.site-table__item
          %td.site-table__item-option
            %span.site-table__item-title
              Стадион:
            = link_to recoupment.area.stadium.name, recoupment.area.stadium
          %td.site-table__item-option
            %span.site-table__item-title
              Площадка:
            = recoupment.area.name
          %td.site-table__item-option
            %span.site-table__item-title
              Цена:
            = number_to_integer_currency(recoupment.price)



%hr
%h4 Оплаченные занятия
%table.table.table-striped.site-table#paid-events
  %thead.site-table__head
    %tr
      %th #
      %th Стадион
      %th Площадка
      %th Период занятий
      %th Время тренировок
      %th Стоимость
      %th Перенос
      %th
      %th
  %tbody.site-table__body
    - @events.paid.future.each do |event|
      %tr.site-table__item
        %td.site-table__item-option
          %span.site-table__item-title
            №:
          = event.id
        %td.site-table__item-option
          %span.site-table__item-title
            Стадион:
          = link_to event.area.stadium.name, event.area.stadium
        %td.site-table__item-option
          %span.site-table__item-title
            Площадка:
          = event.area.name
        %td.site-table__item-option
          %span.site-table__item-title
            Период занятий:
          = l(event.schedule.first.to_date) + ' - ' + l(event.schedule.last.to_date)
        %td.site-table__item-option
          %span.site-table__item-title
            Время тренировок:
          = event.start.strftime("%H:%M") + ' - ' + event.stop.strftime("%H:%M")
        %td.site-table__item-option
          %span.site-table__item-title
            Стоимость:
          = number_to_integer_currency event.price
        %td.site-table__item-option
          %span.site-table__item-title
            Перенос:
          - if event.has_unpaid_changes?
            - if event.event_change.total == 0
              = link_to "Подтвердить перенос", pay_change_my_event_path(event.event_change.id), method: :post, data: { confirm: "Вы действительно хотите подтвердить перенос? Впоследствии вы не сможете его поменять" }, class: 'brn btn-sm btm-success'
            - else
              = link_to "Оплатить перенос", orders_path('event_change_ids[]' => event.event_change.id), method: :post, class: 'btn btn-sm btn-success'
          - elsif event.has_paid_changes?
            Оплачен
          - else
            &mdash;
        %td.site-table__item-option
          = link_to "Чек", ticket_event_path(event), class: 'btn btn-sm btn-info'
        - if event.for_sale?
          %td.site-table__item-option
            Заказ выставлен на продажу
        - else
          %td.site-table__item-option
            = link_to "Продать", sell_my_event_path(event), method: :post, data: {confirm: "Вы действительно хотите продать данный заказ?"}, class: 'btn btn-sm btn-warning'