- content_for :scripts do
  = javascript_include_tag 'jQuery.print'

- if @events_unconfirmed.present?

  = form_for :events, url: bulk_process_my_events_path do |f|
    %h4 Неоплаченные занятия
    %table.table.table-hover.site-table#unconfirmed-events
      %thead.site-table__head
        %tr
          %th
            .check-wrap.check-wrap--table
              = check_box_tag "check_all_unpaid", 'check_all', false, class: 'check_all'
              = label_tag "check_all_unpaid", '', class: 'check-label'
          %th Стадион
          %th Площадка
          %th Дата занятия
          %th Время тренировки
          %th Тренер
          %th Доп. услуги
          %th Стоимость
      %tbody.site-table__body
        - @events_unconfirmed.each do |event|
          %tr.site-table__item
            %td.site-table__item-option
              .check-wrap.check-wrap--table
                = check_box_tag "event_ids[]", event.id, false, { class: 'check-box', id: "event_ids_#{event.id}" }
                = label_tag "event_ids[#{event.id}]", '', class: 'check-label'
            %td.site-table__item-option
              %span.site-table__item-title
                Стадион:
              = link_to event.area.stadium.name, event.area.stadium
            %td.site-table__item-option
              %span.site-table__item-title
                Площадка:
              = link_to event.area.name, stadium_area_path(event.area.stadium, event.area)
            %td.site-table__item-option
              %span.site-table__item-title
                Дата занятия:
              = l(event.schedule.first.to_date)
            %td.site-table__item-option
              %span.site-table__item-title
                Время тренировки:
              = event.start.strftime("%H:%M") + ' - ' + event.stop.strftime("%H:%M")
            %td.site-table__item-option
              %span.site-table__item-title
                Тренер:
              - if event.coach.present?
                = link_to event.coach.name, event.coach
              - else
                &mdash;
            %td.site-table__item-option
              %span.site-table__item-title
                Доп. услуги:
              - if event.stadium_services.any?
                = event.stadium_services.map{|ss| ss.service.name}.join(', ')
              - else
                &mdash;
            %td.site-table__item-option
              %span.site-table__item-title
                Стоимость:
              = number_to_integer_currency event.price
    = f.button 'Забронировать', value: :confirm, data: {confirm: "Подтвердите бронирование"}, class: 'btn btn-primary'
    = f.button 'Перейти к оплате', value: :pay, class: 'btn btn-success'
    = f.button 'Удалить', value: :destroy, data: {confirm: "Вы действительно хотите удалить заказы?"}, class: 'btn btn-danger'

- if @events_confirmed.present?
  %hr
  = form_for :events, url: bulk_process_my_events_path do |f|
    %h4 Забронированные занятия

    .col-sm-6.col-xs-12.panel.panel-info
      .panel-body
        Забронированные занятия автоматически удаляются за сутки до начала в 21:00 в случае неоплаты

    %table.table.table-hover.site-table#confirmed-events
      %thead.site-table__head
        %tr
          %th
            .check-wrap.check-wrap--table
              = check_box_tag "check_all_reserved", 'check_all', false, class: 'check_all'
              = label_tag "check_all_reserved", '', class: 'check-label'
          %th Стадион
          %th Площадка
          %th Дата занятия
          %th Время тренировки
          %th Тренер
          %th Доп. услуги
          %th Стоимость
      %tbody.site-table__body
        - @events_confirmed.each do |event|
          %tr.site-table__item
            %td.site-table__item-option
              .check-wrap.check-wrap--table
                = check_box_tag "event_ids[]", event.id, false, { class: 'check-box', id: "event_ids_#{event.id}" }
                = label_tag "event_ids[#{event.id}]", '', class: 'check-label'
            %td.site-table__item-option
              %span.site-table__item-title
                Стадион:
              = link_to event.area.stadium.name, event.area.stadium
            %td.site-table__item-option
              %span.site-table__item-title
                Площадка:
              = link_to event.area.name, stadium_area_path(event.area.stadium, event.area)
            %td.site-table__item-option
              %span.site-table__item-title
                Дата занятия:
              = l(event.schedule.first.to_date)
            %td.site-table__item-option
              %span.site-table__item-title
                Время тренировки:
              = event.start.strftime("%H:%M") + ' - ' + event.stop.strftime("%H:%M")
            %td.site-table__item-option
              %span.site-table__item-title
                Тренер:
              - if event.coach.present?
                = link_to event.coach.name, event.coach
              - else
                &mdash;
            %td.site-table__item-option
              %span.site-table__item-title
                Доп. услуги:
              - if event.stadium_services.any?
                = event.stadium_services.map{|ss| ss.service.name}.join(', ')
              - else
                &mdash;
            %td.site-table__item-option
              %span.site-table__item-title
                Стоимость:
              = number_to_integer_currency event.price
    = f.button 'Перейти к оплате', value: :pay, class: 'btn btn-success'
    = f.button 'Удалить', value: :destroy, data: {confirm: "Вы действительно хотите удалить заказы?"}, class: 'btn btn-danger'

- if @event_changes.present?
  %hr
  = form_for :events, url: bulk_process_my_events_path do |f|
    %h4 Переносы
    %table.table.table-hover.site-table#event-changes
      %thead.site-table__head
        %tr
          %th
            .check-wrap.check-wrap--table
              = check_box_tag "check_all_changed", 'check_all', false, class: 'check_all'
              = label_tag "check_all_changed", '', class: 'check-label'
          %th Стадион
          %th Площадка
          %th Начало
          %th Конец
          %th Тренер
          %th Доп. услуги
          %th Стоимость
      %tbody.site-table__body
        - @event_changes.each do |event_change|
          %tr.site-table__item
            %td.site-table__item-option
              .check-wrap.check-wrap--table
                = check_box_tag "event_change_ids[]", event_change.id, false, { class: 'check-box', id: "event_change_ids_#{event_change.id}" }
                = label_tag "event_change_ids[#{event_change.id}]", '', class: 'check-label'
            %td.site-table__item-option
              %span.site-table__item-title
                Стадион:
              = link_to event_change.event.area.stadium.name, event_change.event.area.stadium
            %td.site-table__item-option
              %span.site-table__item-title
                Площадка:
              = link_to event_change.event.area.name, stadium_area_path(event_change.event.area.stadium, event_change.event.area)
            %td.site-table__item-option
              %span.site-table__item-title
                Начало:
              = event_change.old_start.strftime("%d.%m.%Y %H:%M") + ' -> ' + event_change.new_start.strftime("%d.%m.%Y %H:%M")
            %td.site-table__item-option
              %span.site-table__item-title
                Конец:
              = event_change.old_stop.strftime("%d.%m.%Y %H:%M") + ' -> ' + event_change.new_stop.strftime("%d.%m.%Y %H:%M")
            %td.site-table__item-option
              %span.site-table__item-title
                Тренер:
              - if event_change.event.coach.present?
                = link_to event_change.event.coach.name, event_change.event.coach
              - else
                &mdash;
            %td.site-table__item-option
              %span.site-table__item-title
                Доп. услуги:
              - if event_change.event.stadium_services.any?
                = event_change.event.stadium_services.map{|ss| ss.service.name}.join(', ')
              - else
                &mdash;
            %td.site-table__item-option
              %span.site-table__item-title
                Стоимость:
              = number_to_integer_currency event_change.total
    = f.button 'Перейти к оплате', value: :pay, class: 'btn btn-success'
    = f.button 'Удалить', value: :destroy, data: {confirm: "Вы действительно хотите удалить заказы?"}, class: 'btn btn-danger'



- if @recoupments.present?
  %hr
  %h4 Отыгрыши
  %table.table.table-hover.site-table#recoupments
    %thead.site-table__head
      %tr
        %th Стадион
        %th Площадка
        %th Сумма
    %tbody.site-table__body
      - @recoupments.each do |recoupment|
        %tr.site-table__item
          %td.site-table__item-option
            %span.site-table__item-title
              Стадион:
            = link_to recoupment.area.stadium.name, recoupment.area.stadium
          %td.site-table__item-option
            %span.site-table__item-title
              Площадка:
            = link_to recoupment.area.name, stadium_area_path(recoupment.area.stadium, recoupment.area)
          %td.site-table__item-option
            %span.site-table__item-title
              Сумма:
            = number_to_integer_currency(recoupment.price)

- if @discounts.present?
  %hr
  %h4 Отыгрыши
  %table.table.table-hover.site-table#discounts
    %thead.site-table__head
      %tr
        %th Стадион
        %th Площадка
        %th Скидка, %
    %tbody.site-table__body
      - @discounts.each do |disc|
        %tr.site-table__item
          %td.site-table__item-option
            %span.site-table__item-title
              Стадион:
            = link_to disc.area.stadium.name, disc.area.stadium
          %td.site-table__item-option
            %span.site-table__item-title
              Площадка:
            = link_to disc.area.name, stadium_area_path(disc.area.stadium, disc.area)
          %td.site-table__item-option
            %span.site-table__item-title
              Скидка, %:
            = disc.value

%hr
%h4 Оплаченные занятия
- @events_paid.group_by{|e| e.area.stadium }.map do |stadium, by_stadium|
  %hr
  %h4= "Стадион #{stadium.name}"
  %table.table.table-striped.site-table#paid-events
    %thead.site-table__head
      %tr
        %th #
        %th Площадка
        %th Дата занятия
        %th Время тренировки
        %th Тренер
        %th Доп. услуги
        %th Стоимость
        %th Перенос
        %th
        %th
    %tbody.site-table__body
      - by_stadium.each do |event|
        %tr.site-table__item
          %td.site-table__item-option
            %span.site-table__item-title
              №:
            = event.id
          %td.site-table__item-option
            %span.site-table__item-title
              Площадка:
            = link_to event.area.name, stadium_area_path(event.area.stadium, event.area)
          %td.site-table__item-option
            %span.site-table__item-title
              Дата занятия:
            = l(event.start.to_date)
          %td.site-table__item-option
            %span.site-table__item-title
              Время тренировки:
            = event.start.strftime("%H:%M") + ' - ' + event.stop.strftime("%H:%M")
          %td.site-table__item-option
            %span.site-table__item-title
              Тренер:
            - if event.coach.present?
              = link_to event.coach.name, event.coach
            - else
              &mdash;
            %td.site-table__item-option
              %span.site-table__item-title
                Доп. услуги:
              - if event.stadium_services.any?
                = event.stadium_services.map{|ss| ss.service.name}.join(', ')
              - else
                &mdash;
          %td.site-table__item-option
            %span.site-table__item-title
              Стоимость:
            = number_to_integer_currency event.price
          %td.site-table__item-option
            %span.site-table__item-title
              Перенос:
            - if event.has_unpaid_changes?
              - if event.event_change.total == 0
                = link_to "Подтвердить перенос", pay_change_my_event_path(event.event_change.id), method: :post, data: { confirm: "Вы действительно хотите подтвердить перенос? Впоследствии вы не сможете его поменять" }, class: 'btn btn-sm btn-success'
              - else
                = link_to "Оплатить перенос", confirm_pay_my_events_path('event_change_ids[]' => event.event_change.id), method: :post, class: 'btn btn-sm btn-success'
            - elsif event.has_paid_changes?
              Оплачен
            - else
              &mdash;
          %td.site-table__item-option.j-site-table__item-option_desctop
            %button{class: 'btn btn-sm btn-info', onclick: "jQuery('#ticket_#{event.id}').print()"}
              Чек
            = render 'my_events/ticket', event: event
          %td.site-table__item-option.j-site-table__item-option_mobile
            = link_to "Чек", ticket_my_event_path(event), class: 'btn btn-sm btn-info', target: '_blank'
          - if event.for_sale?
            %td.site-table__item-option
              Заказ выставлен на продажу
          - else
            %td.site-table__item-option
              = link_to "Продать", sell_my_event_path(event), method: :post, data: {confirm: "Вы действительно хотите продать данный заказ?"}, class: 'btn btn-sm btn-warning'