%h4 Заказы
%table.table.table-hover.site-table
  %thead.site-table__head
    %tr
      %th #
      -#%th Стадион
      %th Площадка
      %th Период занятий
      %th Время тренировки
      %th Стоимость
      %th Доплатить минут
      %th
  %tbody.site-table__body
    - @events.paid.each do |event|
      %tr.site-table__item
        %td.site-table__item-option
          %span.site-table__item-title
            №:
          = event.id
        -#%td.site-table__item-option
        -#  %span.site-table__item-title
        -#    Стадион:
        -#  = event.area.stadium.name
        %td.site-table__item-option
          %span.site-table__item-title
            Площадка:
          = event.area.name
        %td.site-table__item-option
          %span.site-table__item-title
            Период занятий:
          = l(event.schedule.first.to_date) + ' - ' + l(event.schedule.last.to_date)
        %td.site-table__item-option
          %span.site-table__item-title
            Время тренировки:
          = event.start.strftime("%H:%M") + ' - ' + event.stop.strftime("%H:%M")
        %td.site-table__item-option
          %span.site-table__item-title
            Стоимость:
          = number_to_integer_currency event.price
        - if event.past?
          = form_for :events, url: overpay_my_event_path(event) do |f|
            %td.site-table__item-option
              %span.site-table__item-title
                Доплатить минут:
              = text_field_tag :value, '', class: 'form-control'
            %td.site-table__item-option
              = f.submit 'Выставить счет', class: 'btn btn-success'
        - else
          %td.site-table__item-option
            Заказ еще не завершился
          %td.site-table__item-option_hide