%h4 Заказы

%h2 Забронированные
%table.table.table-hover.site-table
  %thead.site-table__head
    %tr
      %th #
      %th Имя покупателя
      %th Площадка
      %th Дата занятия
      %th Время тренировки
      %th Стоимость
      %th Причина
      %th
  %tbody.site-table__body
    - @confirmed_events.each do |event|
      %tr.site-table__item
        %td.site-table__item-option
          %span.site-table__item-title
            №:
          = event.id
        %td.site-table__item-option
          %span.site-table__item-title
            Имя покупателя:
          = event.user.name
        %td.site-table__item-option
          %span.site-table__item-title
            Площадка:
          = link_to event.area.name, stadium_area_path(event.area.stadium, event.area)
        %td.site-table__item-option
          %span.site-table__item-title
            Дата занятия:
          = l(event.start.to_date, format: '%d.%m.%Y, %a')
        %td.site-table__item-option
          %span.site-table__item-title
            Время тренировки:
          = event.start.strftime("%H:%M") + ' - ' + event.stop.strftime("%H:%M")
        %td.site-table__item-option
          %span.site-table__item-title
            Стоимость:
          = number_to_integer_currency (event.price - event.coach_percent_price) * (100 - Rails.application.secrets.tax) / 100
        = form_for :events, url: event_path(event), method: :delete do |f|
          %td.site-table__item-option
            = text_field_tag "event[reason]", '', class: 'form-control'
          %td.site-table__item-option
            = submit_tag 'Удалить заказ', data: {confirm: "Вы действительно хотите удалить заказ?" }, class: "btn btn-danger"

%h2 Прошедшие оплаченные
%table.table.table-hover.site-table
  %thead.site-table__head
    %tr
      %th #
      %th Имя покупателя
      %th Площадка
      %th Дата занятия
      %th Время тренировки
      %th Стоимость
      %th Доплатить минут
      %th
  %tbody.site-table__body
    - @past_paid_events.each do |event|
      %tr.site-table__item
        %td.site-table__item-option
          %span.site-table__item-title
            №:
          = event.id
        %td.site-table__item-option
          %span.site-table__item-title
            Имя покупателя:
          = event.user.name
        %td.site-table__item-option
          %span.site-table__item-title
            Площадка:
          = link_to event.area.name, stadium_area_path(event.area.stadium, event.area)
        %td.site-table__item-option
          %span.site-table__item-title
            Дата занятия:
          = l(event.start.to_date, format: '%d.%m.%Y, %a')
        %td.site-table__item-option
          %span.site-table__item-title
            Время тренировки:
          = event.start.strftime("%H:%M") + ' - ' + event.stop.strftime("%H:%M")
        %td.site-table__item-option
          %span.site-table__item-title
            Стоимость:
          = number_to_integer_currency (event.price - event.coach_percent_price) * (100 - Rails.application.secrets.tax) / 100
        = form_for :events, url: overpay_my_event_path(event) do |f|
          %td.site-table__item-option
            %span.site-table__item-title
              Доплатить минут:
            = text_field_tag :value, '', class: 'form-control'
          %td.site-table__item-option
            = f.submit 'Выставить счет', class: 'btn btn-success'

%h2 Грядущие оплаченные
%table.table.table-hover.site-table
  %thead.site-table__head
    %tr
      %th #
      %th Имя покупателя
      %th Площадка
      %th Дата занятия
      %th Время тренировки
      %th Стоимость
      %th Причина
      %th
  %tbody.site-table__body
    - @future_paid_events.each do |event|
      %tr.site-table__item
        %td.site-table__item-option
          %span.site-table__item-title
            №:
          = event.id
        %td.site-table__item-option
          %span.site-table__item-title
            Имя покупателя:
          = event.user.name
        %td.site-table__item-option
          %span.site-table__item-title
            Площадка:
          = link_to event.area.name, stadium_area_path(event.area.stadium, event.area)
        %td.site-table__item-option
          %span.site-table__item-title
            Дата занятия:
          = l(event.start.to_date, format: '%d.%m.%Y, %a')
        %td.site-table__item-option
          %span.site-table__item-title
            Время тренировки:
          = event.start.strftime("%H:%M") + ' - ' + event.stop.strftime("%H:%M")
        %td.site-table__item-option
          %span.site-table__item-title
            Стоимость:
          = number_to_integer_currency (event.price - event.coach_percent_price) * (100 - Rails.application.secrets.tax) / 100
        = form_for :events, url: event_path(event), method: :delete do |f|
          %td.site-table__item-option
            = text_field_tag "event[reason]", '', class: 'form-control'
          %td.site-table__item-option
            = submit_tag 'Удалить заказ', data: {confirm: "Вы действительно хотите удалить заказ?" }, class: "btn btn-danger"