%h4 Заказы
%table.table
  %thead
    %tr
      %th #
      %th Стадион
      %th Площадка
      %th Период занятий
      %th Время тренировок
      %th Стоимость
      %th Доплатить минут
      %th
  - @events.paid.each do |event|
    %tr
      %td= event.id
      %td= event.area.stadium.name
      %td= event.area.name
      %td= l(event.schedule.first.to_date) + ' - ' + l(event.schedule.last.to_date)
      %td= event.start.strftime("%H:%M:%S") + ' - ' + event.stop.strftime("%H:%M:%S")
      %td= number_to_integer_currency event.price
      - if event.past?
        = form_for :events, url: overpay_my_event_path(event) do |f|
          %td= text_field_tag :value
          %td= f.submit 'Выставить счет'
      - else
        %td Заказ еще не завершился
        %td