- if @product.kind_of? Stadium
  = simple_form_for @product, as: :product, url: dashboard_product_path do |f|
    = f.error_notification
    .row.top15
      .col-xs-12
        .btn-toolbar
          = link_to fa_icon('camera-retro') + ' Загрузить фото', dashboard_product_pictures_path, class: 'btn btn-default'
      .col-md-6
        = f.association :category
        = f.input :name
        = f.input :address
        = f.input :latitude, as: :hidden
        = f.input :longitude, as: :hidden
        = f.input :phone, input_html: { class: 'form-phone' }
        = f.input :description, as: :text
        = f.input :main_image

        %label Время работы стадиона:
        = f.input :opens_at, as: :datetime, discard_year: true, discard_month: true, minute_step: 30, label: false
        = f.input :closes_at, as: :datetime, discard_year: true, discard_month: true, minute_step: 30, label: false
      .col-md-6
        %label Выберите месторасположение:
        = render 'draggable_map'
    .row
      .col-xs-12
        %h4 Площадки
        = link_to_add_association 'Добавить площадку', f, :areas, class: 'btn btn-primary', 'data-association-insertion-node' => '.areas', 'data-association-insertion-method' => 'append'

        %table.table.table-hover.site-table
          %thead.site-table__head
            %tr
              %th Название
              %th Стоимость часа
              %th Стоимость переноса, %
              %th
          %tbody.areas.site-table__body
            = f.simple_fields_for :areas, @product.areas.any? && @product.areas || @product.areas.new do |area|
              = render "area_fields", f: area

        %h4 Дополнительные услуги
        = link_to_add_association 'Добавить услугу', f, :stadium_services, class: 'btn btn-primary', 'data-association-insertion-node' => '.services', 'data-association-insertion-method' => 'append'

        %table.table.table-hover.site-table
          %thead.site-table__head
            %tr
              %th Название
              %th Стоимость
              %th Периодичность
              %th
          %tbody.services.site-table__body
            = f.simple_fields_for :stadium_services, @product.stadium_services.any? && @product.stadium_services do |stadium_service|
              = render "stadium_service_fields", f: stadium_service


        = f.button :submit, class: 'btn btn-success'
- elsif @product.kind_of? Coach
  = simple_form_for @product, as: :product, url: dashboard_product_path do |f|
    = f.simple_fields_for :user, @product.user do |user|
      = user.input :avatar, as: :image_file, version: :small_square
      = user.input :name
      = user.input :phone, input_html: { class: 'form-phone' }
    = f.input :description, as: :text

    .form-group
      = link_to fa_icon('edit') + ' Сменить пароль или почту', edit_user_registration_path, class: 'btn btn-default'
    = f.button :submit, 'Сохранить', class: 'btn btn-success'
