= simple_form_for @product, as: :product, url: dashboard_product_path do |f|
  .row
    .col-xs-12
      %h4 Реквизиты
      = f.simple_fields_for :account do |acc|
        .row
          .col-lg-4.col-sm-6.col-xs-12
            = acc.input :company
          .col-lg-4.col-sm-6.col-xs-12
            = acc.input :number
          .col-lg-4.col-sm-6.col-xs-12
            = acc.input :inn
          .col-lg-4.col-sm-6.col-xs-12
            = acc.input :kpp
          .col-lg-4.col-sm-6.col-xs-12
            = acc.input :bik
          .col-lg-4.col-sm-6.col-xs-12
            = acc.input :agreement_number
          .col-xs-12
            = acc.input :date
  = f.button :submit, 'Сохранить', class: 'btn btn-success'