<div id="total">
  <% if current_user.nil? %>
    <h4>Для того, чтобы воспользоваться всеми возможностями портала, пожалуйста зарегистрируйтесь, или войдите в свою учетную запись.</h4>
    <%= link_to 'Вход / Регистрация', new_user_session_path, class: 'btn btn-primary add_to_cart_button product_type_simple' %>
  <% elsif current_user.type == "Customer" || current_user.type == "CoachUser" %>
    <h4>В корзине:</h4>
    <p data-total>
      <% if @totalHours %>
        <%= t('hours', count: number_with_precision(@totalHours, precision: 1)) %> на сумму <%= number_to_currency @total, precision: 0 %>:</p>
        <ul>
        <% @events.each do |event| %>
          <li><%= event.start.strftime("%d.%m.%Y %H:%M") + " - " + event.stop.strftime("%H:%M") + " " + number_to_currency(event.price) %>
          <ul>
            <li>Стоимость площадки: <%= number_to_currency event.area_price %> </li>
            <% if event.coach.present? %>
              <li>Стоимость тренера: <%= number_to_currency event.coach_price %> </li>
            <% end %>
            <% if event.stadium_services.present? %>
              <li>Стоимость услуг: <%= number_to_currency event.stadium_services_price %> </li>
            <% end %>
          </ul>
        <% end %>
        </ul>
      <% end %>
    <% if @eventChanges.present? %>
      <%= t('changes', count: @eventChanges.count) %> на сумму <%= number_to_currency current_user.changes_total(area: @area, coach: @product.id), precision: 0 %></p>
    <% end %>
    <% if current_user.recoupments.where(area: @area).present? &&  current_user.recoupments.where(area: @area).first.price > 0 %>
      Отыгрышей на сумму <%= number_to_currency current_user.total_recoupments(area: @area), precision: 0 %>
    <% end %>
    <%= link_to 'Перейти к оплате/Забронировать', my_events_path(), class: 'btn btn-primary add_to_cart_button  product_type_simple', data: { book: true} %>
  <% end %>
</div>
