- breadcrumb :coaches

.body-bg
  .row
    .entry
      %h1
        Тренеры
      %hr/
      = search_form_for @q, remote: true, wrapper: :inline_form, html: { class: 'form-inline' } do |f|
        = f.input :areas_stadium_category_id_eq, collection: Category.all,  prompt: 'Все категории', label: false
        = f.select :s, options_for_select([["Без сортировки", ""],["По имени (АБВ)", "user_name asc"],["По имени (ВБА)", "user_name desc"]]), {}, {class: 'form-control'}
        = f.button :submit, 'Поиск', class: 'btn btn-info'
      %hr/
      .row
        .list-unstyled.coaches
          = render @coaches
