Заказ #{@order.guid}

%table.table.table-hover.site-table
  %thead.site-table__head
    %tr
      %th Площадка
      %th Начало
      %th Конец
      %th Длительность
      %th Повторяется?
      %th Цена
  %tbody.site-table__body
    - @order.events.each do |event|
      %tr.site-table__item
        %td.site-table__item-option
          %span.site-table__item-title
            Площадка:
          = event.area.name
        %td.site-table__item-option
          %span.site-table__item-title
            Начало:
          = event.start
        %td.site-table__item-option
          %span.site-table__item-title
            Конец:
          = event.stop
        %td.site-table__item-option
          %span.site-table__item-title
            Длительность:
          = event.duration
        %td.site-table__item-option
          %span.site-table__item-title
            Повторяется:
          = t('repeats', count: event.occurrences) + ' ' + (event.schedule.to_s if event.recurring?).to_s
        %td.site-table__item-option
          %span.site-table__item-title
            Цена:
          = event.price

был изменен, статус: #{@order.human_status}, комментарий: #{@order.comment}