%h3 Заказ #{@order.guid} оплачен!

%table.table
  %thead.site-table__head
    %tr
      %th Площадка
      %th Начало
      %th Конец
      %th Цена
  = render @events

Был оплачен пользователем #{@order.user.name}, #{@order.user.email}, тел: #{@order.user.phone}.

Благодарим за использование нашей системы!