%h1 Перенос занятия

Пользователь #{@event.user.name} перенес занятие.

Занятие на стадионе #{@event.area.stadium.name}

- if @event.start != @event.event_change.old_start
  Начало перенесено с #{l @event.event_change.old_stop, format: :short} на #{l @event.start, format: :short}.
- if @event.stop != @event.event_change.old_stop
  Конец перенесен с #{l @event.event_change.old_stop, format: :short} на #{l @event.stop, format: :short}.