%h1 Перенос занятия

Пользователь #{@event.user.name} перенес занятие.

Занятие на стадионе #{@event.area.stadium.name}

- if @event.start != @event.event_change.old_start
  Начало перенесено с #{l @event.event_change.old_stop, format: :short} на #{l @event.start, format: :short}.
- if @event.stop != @event.event_change.old_stop
  Конец перенесен с #{l @event.event_change.old_stop, format: :short} на #{l @event.stop, format: :short}.


/ -# Старое
/ -#%table
/   %thead
/     %tr
/       %th Стадион
/       %th Начало
/       %th Конец
/       %th Повторяется
/   %tbody
/     %tr
/       %td= @event.area.stadium.name
/       %td= l @event.start, format: :short
/       %td= l @event.end, format: :short
/       %td= t('hours', count: number_with_precision(@event.duration_in_hours, precision: 2))



/ -#old
/   - [:start, :end].each do |attr|
/     - list = @event.previous_changes[attr]
/     %p
/       = Event.human_attribute_name attr
/       - if list.first.present?
/         = " с #{l list.first, format: :short}"
/       - if list.last.present?
/         = " на #{l list.last, format: :short}"

