<table cellpadding="0" cellspacing="0" width="100%" border="0" bgcolor="#e6e6e6"
       style="min-width:600px;">
  <tbody>
  <tr>
    <td valign="top" align="center">
      <table width="560" border="0" cellspacing="0" cellpadding="0" class="campaign">
        <tbody>
        <tr>
          <td width="560" height="60" class="campaign"></td>
        </tr>
        </tbody>
      </table>
      <table cellspacing="0" cellpadding="0" width="560" border="0"
             style="border-width:0px;border-color:#ffffff;border-style:solid;" class="campaign">
        <tbody>
        <tr bgcolor="#ffffff">
          <td align="center" width="560">
            <table border="0" cellspacing="0" cellpadding="0" width="560" style="background-color:#7cbc48">
              <tbody>
              <tr>
                <td align="center" width="560" class="headerimage">
                  <img style="display:block; height: 70px; width: 560px;" height="70"
                       src="http://147931.selcdn.com/images/5673431/2463.png" width="560" border="0">
                </td>
              </tr>
              </tbody>
            </table>
            <table width="560" border="0" cellspacing="0" cellpadding="0" class="table" style="">
              <tbody>
              <tr>
                <td width="20"></td>
                <td width="520" height="30" class="cell"></td>
                <td width="20"></td>
              </tr>
              <tr>
                <td width="20"></td>
                <td width="520" align="center"
                    style="color:#000000;font-family:Arial, Helvetica, sans-serif;line-height:28px;font-size:22px;font-weight:bold;"
                    class="cell">Отмена занятия #<%= @event.id %>
                </td>
                <td width="20"></td>
              </tr>
              <tr>
                <td width="20"></td>
                <td width="520" height="7" class="cell"></td>
                <td width="20"></td>
              </tr>
              </tbody>
            </table>
            <table width="560" border="0" cellspacing="0" cellpadding="0" class="table" style="">
              <tbody>
              <tr>
                <td width="20"></td>
                <td width="520" height="7" class="spacer"></td>
                <td width="20"></td>
              </tr>
              <tr>
                <td width="20">&nbsp;</td>
                <td width="520" align="left" valign="top"
                    style="color:#000000;font-family:Arial, Helvetica, sans-serif;line-height:19px;font-size:13px;"
                    class="cell">
                  <p>
                    Администратор стадиона <b><%= @event.area.stadium.name %></b> отменил занятие с вашим участием
                    на площадке <b><%= @event.area.name %></b> с заказчиком <b><%= @event.user.name %></b>.
                    Просим прощения за причиненные неудобства.
                  </p>
                </td>
                <td width="20">&nbsp;</td>
              </tr>
              <tr>
                <td width="20"></td>
                <td width="520" height="7" class="spacer"></td>
                <td width="20"></td>
              </tr>
              <tr>
                <td width="15">&nbsp;</td>
                <td width="530" align="left" valign="top"
                    style="color:#000000;font-family:Arial, Helvetica, sans-serif;line-height:19px;font-size:13px;"
                    class="cell">

                  <table width="530" border="0" cellspacing="0" cellpadding="0" class="table">
                    <thead>
                    <tr>
                      <th style="text-align: left; padding: 5px; border-width: 1px 1px 1px 1px; border-style: solid; border-color: #000;">
                        Дата проведения
                      </th>
                      <th style="text-align: left; padding: 5px; border-width: 1px 1px 1px 0; border-style: solid; border-color: #000;">
                        Ваша цена
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td style="padding: 5px; border-width: 0 1px 1px 1px; border-style: solid; border-color: #000;">
                        <%= l @event.start, format: :short %>
                      </td>
                      <td style="padding: 5px; border-width: 0 1px 1px 0; border-style: solid; border-color: #000;">
                        <%= number_to_currency @event.coach_price.to_i %>
                      </td>
                    </tr>
                    </tbody>
                  </table>

                </td>
                <td width="15">&nbsp;</td>
              </tr>
              <tr>
                <td width="20"></td>
                <td width="520" height="30" class="spacer"></td>
                <td width="20"></td>
              </tr>
              <tr>
                <td width="20" height="10" style="background: #2873b1;"></td>
                <td width="520" height="10" style="background: #2873b1;"></td>
                <td width="20" height="10" style="background: #2873b1;"></td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
      <table width="560" border="0" cellspacing="0" cellpadding="0" class="pfooter">
        <tbody>
        <tr>
          <td height="15" width="560" class="pfooter"></td>
        </tr>


        <tr>
          <td class="pfooter"
              style="font-family:Arial;font-size: 11px;color:#666666;font-family:Arial, Helvetica, sans-serif;font-size:11px;"
              width="560" align="center">Это сообщение было отправлено на <b><%= @event.coach.user.email %></b> потому, что: <br>
            <span id="reason">Вы зарегистрированы на нашем сайте www.bookingsports.ru как тренер.</span>
          </td>
        </tr>
        <tr>
          <td class="pfooter" height="5" width="560"></td>
        </tr>
        <tr>
          <td width="560" align="center"
              style="font-family:Arial;font-size: 11px;color:#666666;font-family:Arial, Helvetica, sans-serif;font-size:11px;">
            2016 © Bookingsports
          </td>
        </tr>
        <tr>
          <td class="pfooter" height="5" width="560"></td>
        </tr>
        <tr>
          <td class="pfooter"
              style="font-family:Arial;font-size: 11px;color:#666666;font-family:Arial, Helvetica, sans-serif;font-size:11px;"
              width="560" align="center">
            <span id="address">141400, обл. Московская, г. Химки, мкр. Сходная, ул. Фрунзе 38, 18</span>
          </td>
        </tr>
        <tr>
          <td height="50" class="pfooter" width="560"></td>
        </tr>

        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>