%tr
  %td= coach_area.area.stadium.name
  %td= coach_area.area.name
  %td= coach_area.price
  %td= coach_area.stadium_percent
  %td= link_to fa_icon('times') + ' Отвязаться', dashboard_employment_path(id: coach_area.id), method: :delete, data_confirm: 'Вы уверены?'
