%tr.site-table__item
  %td.site-table__item-option
    %span.site-table__item-title
      Название:
    = link_to coach_area.area.stadium.name, coach_area.area.stadium
  %td.site-table__item-option
    %span.site-table__item-title
      Площадка:
    = link_to coach_area.area.name, stadium_area_path(coach_area.area.stadium, coach_area.area)
  %td.site-table__item-option
    %span.site-table__item-title
      Стоимость часа:
    = coach_area.price
  %td.site-table__item-option
    %span.site-table__item-title
      Процент стадиона, %:
    = "#{coach_area.stadium_percent} %"
  %td.site-table__item-option
    %span.site-table__item-title
      Статус:
    = I18n.t "enums.coaches_area.status.#{coach_area.status}"
  %td.site-table__item-option
    = link_to fa_icon('times') + ' Отвязаться', dashboard_employment_path(id: coach_area.id), method: :delete, data_confirm: 'Вы уверены?', class: 'btn btn-sm btn-danger'
