%div.site-table_list
  %div.site-table_list__item
    %div.site-table_list__item-option
      %h5.site-table_list__item-title Название:
      %p.site-table_list__item-text
        = coach_area.area.stadium.name
    %div.site-table_list__item-option
      %h5.site-table_list__item-title Площадка:
      %p.site-table_list__item-text
        = coach_area.area.name
    %div.site-table_list__item-option
      %h5.site-table_list__item-title Стоимость часа:
      %p.site-table_list__item-text
        = coach_area.price
    %div.site-table_list__item-option
      %h5.site-table_list__item-title Процент стадиона:
      %p.site-table_list__item-text
        = coach_area.stadium_percent
    %div.site-table_list__item-option
      %h5.site-table_list__item-title Статус:
      %p.site-table_list__item-text
        = I18n.t "enums.coaches_area.status.#{coach_area.status}"
    %div.site-table_list__item-option
      %h5.site-table_list__item-title
        = link_to fa_icon('times') + ' Отвязаться', dashboard_employment_path(id: coach_area.id), method: :delete, data_confirm: 'Вы уверены?'