%tr
  %td= customer.name
  %td= customer.phone
  %td= customer.email
  %td= customer.events.where(coach: current_user.coach).count
  %td= link_to "Подробнее", dashboard_customer_path(id: customer.id), class: 'btn btn-info btn-sm'