%h3= @customer.name
%dl
  %dt Баланс
  %dd= number_to_integer_currency @customer.events.paid.where(coach: current_user.coach).map(&:price).inject(&:+).to_i
%h3 Грядущие
%table.table.table-hover.site-table
  %thead.site-table__head
    %tr
      %th Стадион
      %th Начало
      %th Конец
      %th Сумма
  %tbody.site-table__body
    - @customer.events.future.paid.where(coach: current_user.coach).order(created_at: :desc).each do |e|
      %tr.site-table__item
        %td.site-table__item-option
          %span.site-table__item-title
            Стадион:
          = link_to e.area.stadium.name, e.area.stadium
        %td.site-table__item-option
          %span.site-table__item-title
            Начало:
          = l e.start, format: :short
        %td.site-table__item-option
          %span.site-table__item-title
            Конец:
          = l e.stop, format: :short
        %td.site-table__item-option
          %span.site-table__item-title
            Сумма:
          = number_to_integer_currency e.price

%h3 Прошедшие
%table.table.table-hover.site-table
  %thead.site-table__head
    %tr
      %th Стадион
      %th Начало
      %th Конец
      %th Сумма
  %tbody.site-table__body
    - @customer.events.past.paid.where(coach: current_user.coach).order(created_at: :desc).each do |e|
      %tr.site-table__item
        %td.site-table__item-option
          %span.site-table__item-title
            Стадион:
          = link_to e.area.stadium.name, e.area.stadium
        %td.site-table__item-option
          %span.site-table__item-title
            Начало:
          = l e.start, format: :short
        %td.site-table__item-option
          %span.site-table__item-title
            Конец:
          = l e.stop, format: :short
        %td.site-table__item-option
          %span.site-table__item-title
            Сумма:
          = number_to_integer_currency e.price