- if params[:id].present? || @stadium.nil?
  .row.schedule-legend-nav
    .col-xs-4
      .legend-label.legend-owned
      = raw " &mdash; неоплаченное"
    .col-xs-4
      .legend-label.legend-confirmed
      = raw " &mdash; забронировано"
    .col-xs-4
      .legend-label.legend-disowned
      = raw " &mdash; чужое"
    .col-xs-4
      .legend-label.legend-paid
      = raw " &mdash; оплаченное"
    .col-xs-4
      .legend-label.legend-unpaid-change
      = raw " &mdash; неоплаченный перенос"
    .col-xs-4
      .legend-label.legend-paid-change
      = raw " &mdash; оплаченный перенос"
    .col-xs-4
      .legend-label.legend-locked
      = raw " &mdash; заблокировано администратором"
- else
  .row.schedule-legend-nav
    - @stadium.areas.each do |area|
      .col-xs-4
        %div{ class: "legend-label legend-kendo-area-#{area.kendo_area_id}" }
        = raw area.name