- if params[:id].present? || @areas.nil?
  .row.schedule-legend-nav
    .col-lg-3.col-sm-4.col-xs-12.legend-label__wrap
      .legend-label.legend-owned
      = raw " &mdash; неоплаченное"
    .col-lg-3.col-sm-4.col-xs-12.legend-label__wrap
      .legend-label.legend-paid
      = raw " &mdash; оплаченное"
    .col-lg-3.col-sm-4.col-xs-12.legend-label__wrap
      .legend-label.legend-confirmed
      = raw " &mdash; забронировано"
    .col-lg-3.col-sm-4.col-xs-12.legend-label__wrap
      .legend-label.legend-disowned
      = raw " &mdash; чужое"

    .col-xs-12.schedule-legend-nav__dop-wrap
      .row.schedule-legend-nav__dop
        .col-lg-3.col-sm-4.col-xs-12.legend-label__wrap
          .legend-label.legend-unpaid-change
          = raw " &mdash; неоплаченный перенос"
        .col-lg-3.col-sm-4.col-xs-12.legend-label__wrap
          .legend-label.legend-paid-change
          = raw " &mdash; оплаченный перенос"
        .col-lg-3.col-sm-4.col-xs-12.legend-label__wrap
          .legend-label.legend-locked
          = raw " &mdash; заблокировано администратором"
        .col-lg-3.col-sm-4.col-xs-12.legend-label__wrap
          .legend-label.legend-for-sale
          = raw " &mdash; выставлено на продажу"
      %button.btn.btn-sm.btn-default.schedule-legend-nav__dop-button
        %i
        %span.schedule-legend-nav__dop-button_open
          Подробнее
        %span.schedule-legend-nav__dop-button_close
          Скрыть
- else
  .row.schedule-legend-nav
    - @areas.each do |area|
      .col-lg-4.col-sm-6.col-xs-12.legend-label__wrap
        %div{ class: "legend-label legend-kendo-area-#{area.kendo_area_id}" }
        = link_to area.name_with_stadium, stadium_area_path(area.stadium, area)