<%# add navigation links to this file %>
<li><%= link_to coaches_path do %>
  Тренеры
<% end %>
</li>
<li><%= link_to stadiums_path do %>
  Стадионы
<% end %>
<li><%= link_to one_day_events_path do %>
  Расписание
<% end %>
</li>
<% if current_user.present? && (current_user.type == "Customer" || current_user.type == "CoachUser") %>
  <li>
    <%= link_to for_sale_events_path do %>
      Покупка/продажа (<%= Event.paid.future.for_sale.count %>)
    <% end %>
  </li>
<% end %>
<li id="menu-item-120" class="menu-item menu-item-120 dropdown">
  <%= link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do %>
    Учетная запись
    <span class="caret"></span>
  <% end %>

<ul role="menu" class=" dropdown-menu">
  <%= render 'layouts/devise_links' %>
</ul>
</li>