<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Booking Sports - Бронируйте спорт надежно" %></title>
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#4070B6">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#4070B6">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#4070B6">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Booking Sports - Бронируйте спорт надежно" %>">
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;language=ru&amp;key=AIzaSyAovmNaUrXoHbwRUZ1fyCpfk9ndABJiycE"
            type="text/javascript"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,400italic,500,500italic,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <%= include_gon %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= current_user.try(:type).try(:underscore) %>">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <%= breadcrumbs style: :bootstrap %>
      <%= render 'layouts/messages' %>
      <%= gflash %>
      <%= content_for?(:sub_layout) ? yield(:sub_layout) : yield %>
    </main>
    <div id='remote_container'></div>
    <%= render "layouts/footer" %>
    <%= javascript_include_tag 'application' %>
    <%= render 'event_form_template' %>
    <%= yield :scripts %>
  </body>
</html>
