- content_for :sub_layout do
  .body-bg
    .row
      .entry
        - if @coach.present?
          %h1
            Тренер
          %hr
          %ul.nav.nav-pills.nav-justified.dashboard-nav
            - with_options wrap_tag: :li, active: :inclusive do |nav|
              = nav.active_link_to 'Описание', coach_path(@coach), active: false
              - if @coach.coaches_areas.active.any?
                = nav.active_link_to 'Расписание', coach_area_path(@coach, @coach.coaches_areas.active.first.area), active: /areas\/#{@coach.coaches_areas.active.first.area.slug}/
          .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              = content_for?(:super_sub_layout) ? yield(:super_sub_layout) : yield
        - else
          = content_for?(:super_sub_layout) ? yield(:super_sub_layout) : yield
= render template: 'layouts/application'