- content_for :sub_layout do
  .body-bg
    .row
      .entry
        - if @stadium.present?
          %h1
            = @stadium.name
          %hr/
          .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              %ul.nav.nav-pills.nav-justified.stadium-nav
                = active_link_to "Описание", @stadium, wrap_tag: :li, active: :exclusive
                = active_link_to "Расписание", stadium_areas_path(@stadium), wrap_tag: :li, active: /stadiums\/[a-zA-Z0-9\-]*\/areas/
                = active_link_to "Галерея", stadium_pictures_path(@stadium), wrap_tag: :li, active: :exclusive
                = active_link_to "Отзывы", stadium_reviews_path(@stadium), wrap_tag: :li, active: :exclusive
              = yield
        - else
          = yield

= render template: 'layouts/application'
